@import '~bulma/bulma.sass';
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

img {
  height: 70px;
  width: 100px;;
  object-fit: cover;
  margin: 0;
  display: block;
  margin-left: auto;
}

h1 {
  color: #011041;
  font-size: 50px;
  margin: 20px;
  margin-bottom: 40px;
}

p {
  font-style: italic;
  margin-bottom: 30px;
  color: grey;
  font-weight: 800;
}


.field {
  display: flex;
}

label.label {
  font-size: 13px;
  margin-right: 20px;
  color: #011041;

}

.field-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
