@import '~bulma/bulma.sass';

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px #011041 solid;
  border-radius: 3%;
}

h1 {
  color: #011041;
  font-size: 50px;
  margin: 20px;
  margin-bottom: 40px;
}

p {
  font-style: italic;
  margin-bottom: 30px;
  color: grey;
  font-weight: 800;
  text-align: Center;
}

img {
  height: 90px;
  width: 120px;;
  object-fit: cover;
  margin: 0;
  display: block;
  margin-left: auto;
}

.field {
  display: flex;
}

label.label {
  font-size: 13px;
  margin-right: 20px;
  color: #011041;

}

.field-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
